<template>
    <div class="currency-row" :class="'currency-row--' + id">
        <div class="currency-row__iso">{{ iso }}</div>
        <div class="currency-row__title">{{ title }}</div>
        <div class="currency-row__value">{{ rate | currency }}</div>

        <div class="currency-row__refresh">
            <input type="checkbox" class="currency-row__checkbox"
                   :value="id"
                   v-if="settings"
                   v-model="checked"
                   @change="onChange"
            />
            <font-awesome-icon icon="sync-alt"
                               v-if="!settings"
                               @click="refresh"
            ></font-awesome-icon>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            id: String,
            value: Array,
            title: String,
            iso: String,
            rate: Number,
            settings: Boolean,
        },
        data () {
            return {
                checkedProxy: false
            }
        },
        computed: {
            checked: {
                get () {
                    return this.value
                },
                set (val) {
                    this.checkedProxy = val
                }
            }
        },
        methods: {
            onChange: function(e) {
                this.$emit('input', this.checkedProxy)
            },
            refresh: function () {
                this.$store.dispatch('updateCurrency', {
                    id: this.id,
                    iso: this.iso,
                });
            },
        },
        filters: {
            currency: function (value) {
                if(value){
                    return parseFloat(value).toFixed(3);
                }

                return '';
            }
        }
    }
</script>

<style lang="scss">
    @import "../assets/styles/_variables.scss";

    .currency-row{
        background-repeat: no-repeat;
        background-position: 12px center;
        background-color: transparent;
        background-size: 16px auto;
        padding-left: 34px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        border-bottom: 1px solid $border-color;
        width: 100%;

        &:after{
            clear: both;
        }

        &:last-child{
            border-bottom: none;
        }

        &--usd{
            background-image: url(../assets/images/flags/usd.gif);
        }
        &--eur{
            background-image: url(../assets/images/flags/eur.gif);
        }
        &--cad{
            background-image: url(../assets/images/flags/cad.gif);
        }
        &--jpy{
            background-image: url(../assets/images/flags/jpy.gif);
        }

        &__iso{
            text-transform: uppercase;
            width: 40px;
            float: left;
        }
        &__title{
            width: 115px;
            float: left;
        }
        &__refresh{
            margin-right: 10px;
            float: right;
            cursor: pointer;
        }
        &__value{
            float: left;
            margin-left: 10px;
        }
        &__checkbox{
            
        }
    }
</style>
