<template>
    <div class="currency">
        <div class="currency__row">
            <loading></loading>
            <error></error>
            <div class="currency__settings" @click="settings = !settings">
                <font-awesome-icon :icon="settings ? 'cogs' : 'cog'"></font-awesome-icon>
            </div>
        </div>
        <currency-row v-for="(item, index) in currency(settings)" :key="index"
                      v-model="activeIds"
                      :id="item.id"
                      :title="item.title"
                      :iso="item.iso"
                      :rate="item.rate"
                      :settings="settings"
        ></currency-row>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import CurrencyRow from '@/components/CurrencyRow.vue'
    import Error from '@/components/Error.vue'
    import Loading from '@/components/Loading.vue'

    export default {
        name: 'Currency',
        components: {
            CurrencyRow, Error, Loading
        },
        data: function () {
            return {
                settings: false,
                interval: null,
            };
        },
        mounted: function(){
            this.$store.dispatch('updateCurrency');

            this.interval = setInterval(()=> {
                this.$store.dispatch('updateCurrency');
            }, 10 * 1000);
        },
        beforeDestroy: function() {
            clearInterval(this.interval);
        },
        computed: {
            ...mapGetters({
                currency: 'currency',
                enabledIds: 'enabledIds',
            }),
            activeIds: {
                get() {
                    return this.enabledIds
                },
                set(ids) {
                    this.$store.commit('SET_ENABLED_IDS', ids)
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "../assets/styles/_variables.scss";

    .currency {
        background: $bg-color;
        border: 1px solid $border-color;
        box-shadow: 2px 1px 3px 0px $border-color;
        width: 300px;
        position: absolute;
        left: 50%;
        top: 30%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        width: 300px;
        height: auto;
        min-height: 200px;

        &__settings {
            width: 35px;
            text-align: right;
            padding: 10px;
            float: right;
            cursor: pointer;
        }

        &__row{
            &:after{
                clear: both;
            }
        }
    }
</style>
