<template>
    <div class="errors" v-if="errors.length">
        <p class="errors___error">{{ lastError.message }}</p>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                errors: 'errors',
                lastError: 'lastError'
            }),
        }

    }
</script>

<style scoped lang="scss">
    @import "../assets/styles/_variables.scss";

    .errors{
        color: $text-color--error;
        float: left;

        &___error{
            padding: 10px 0 0 10px;
        }
    }
</style>
