<template>
    <div class="loading" v-if="loading"></div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: mapGetters({
            loading: 'loading',
        }),

    }
</script>

<style lang="scss">
    @import "../assets/styles/_variables.scss";

    .loading{
        float: left;
        margin: 10px 0 0 10px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid $spinner-color;
        border-color: $spinner-color transparent $spinner-color transparent;
        animation: loading-animation 1.2s linear infinite;
    }
    @keyframes loading-animation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
