<template>
    <div id="app">
        <currency/>
    </div>
</template>

<script>
    import Currency from '@/components/Currency.vue'

    export default {
        name: 'app',
        components: {
            Currency
        }
    }
</script>

<style lang="scss">
    @import "assets/styles/_variables.scss";

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;

        &:after{
            display: block;
            content: '';
        }
    }
    html, #app{
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    body{
        height: 100vh;
        min-height: 100vh;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: $text-color;
        position: relative;
    }
</style>
